<h1>Titulo</h1>

<div class="card" style="width: 18rem;">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
        <p class="card-text">Genero</p>
        <p class="card-text">Año</p>
    </div>
</div>